* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
:root {
    --primary-color: #1992d4;
    --secondary-color: #efb42b;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --main-text-color: #686868;
    --input-border-radius: 16px;
    --input-border-style: none;
    --card-border-radius: 8px;
    --card-box-shadow: 2px 4px 2px var(--shadow-color);
    --card-padding: 18px 26px;
}
input[type="text"] {
    padding: 0 8px;
    border-radius: var(--input-border-radius);
    border-style: var(--input-border-style);
    background-color: #e2e8f0;
    width: clamp(100px, 75%, 800px);
    height: clamp(20px, 35%, 80px);
}
button {
    border-radius: var(--input-border-radius);
    border-style: var(--input-border-style);
    color: white;
    background-color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    width: clamp(80px, 75%, 250px);
    height: clamp(30px, 25%, 60px);
}
a {
    text-decoration: none;
    color: white;
}
img[class="icon"] {
    width: clamp(20px, 5%, 40px);
    height: clamp(20px, 5%, 40px);
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: clamp(100px, 20%, 150px) 5fr;
}

.header {
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: minmax(200px, 3fr) 1fr 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 4px 8px;
    
    padding: 15px 30px;
    font-weight: bold;
    align-items: center;
}
.search-bar {
    grid-column: 1 / 3;
}
.search-bar > label {
    display: grid;
    grid-template-columns: minmax(min-content, 0.05fr) 1fr;
    column-gap: min(0.01fr, 10px);
}
.btns {
    grid-column: 3 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 4px;
}
.header a {
    color: black;
}
.notification {
    width: min-content;
    justify-self: center;
}
.profile {
    display: grid;
    grid-template-columns: minmax(20px, 0.02fr) minmax(min-content, 1fr);
    grid-template-rows: 1fr;
    gap: 6px;
}
.profile > .icon {
    width: clamp(10px, 100%, 25px);
    height: clamp(20px, 90%, 30px);
    border-radius: 80px;
    background-color: var(--secondary-color);
}
.profile > a {
    align-self: center;
}
.greeting {
    display: grid;
    grid-template-columns: minmax(50px, 0.01fr) minmax(min-content, 0.5fr);
    grid-template-rows: repeat(2, 0.1fr);
    column-gap: 12px;
}
.greeting > .icon {
    width: clamp(40px, 100%, 60px);
    height: clamp(30px, 100%, 50px);
    border-radius: 100px;
    grid-row: 1 / -1;
    background-color: var(--secondary-color);
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: minmax(40px, 0.01fr) minmax(min-content, 0.15fr) minmax(min-content, 0.1fr);
    row-gap: 40px;
    align-items: start;

    padding: 12px 18px;
    color: white;
    background-color: var(--primary-color);
    font-weight: bold;
}
.sidebar-container {
    display: grid;
    row-gap: 20px;
}
.sidebar-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 4px;
}
.sidebar-container:first-child {
    font-size: 1.5rem;
}
.sidebar-container:first-child img[class="icon"] {
    width: 1.6rem;
    height: 1.6rem;
}

.content {
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 10px;

    background-color: #e2e8f0;
    padding: 18px 18px 8px 28px;
}

.projects {
    grid-area: 1 / 1 / -1 / 2;
}
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 18px;
}
.project-item {
    background-color: white;
    width: clamp(200px, 80%, 1fr);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    border-left: 8px solid var(--secondary-color);
    box-shadow: var(--card-box-shadow);
}
.project-item > p:nth-child(2) {
    height: 10rem;
    overflow: scroll;
    text-wrap: wrap;
}

.announcements {
    grid-area: 1 / 2 / 2 / -1;
}

.trending {
    grid-area: 2 / 2 / -1 / -1;
}

.projects > p,
.announcements > p,
.trending > p {
    font-weight: bold;
    margin-bottom: 12px;
}