* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
:root {
    --primary-color: #1992d4;
    --secondary-color: #efb42b;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --main-text-color: #686868;
    --input-border-radius: 16px;
    --input-border-style: none;
    --card-border-radius: 8px;
    --card-box-shadow: 2px 4px 2px var(--shadow-color);
    --card-padding: 18px 26px;
}
input[type="text"] {
    padding: 0 8px;
    border-radius: var(--input-border-radius);
    border-style: var(--input-border-style);
    background-color: #e2e8f0;
}
button {
    border-radius: var(--input-border-radius);
    border-style: var(--input-border-style);
    color: white;
    background-color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
}
a {
    text-decoration: none;
    color: white;
}